{% extends 'base/base.html' %}
{% load static %}
{% load attendance_filters %}

{% block content %}
<div class="container">
    <h2>Attendance for {{ today }}</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Student Name</th>
                {% for date in unique_dates %}
                    <th>{{ date }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for student in attendance_data.items %}
                <tr>
                    <td>{{ student.name }}</td>
                    {% for date in unique_dates %}
                        <td>{{  date.date }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}