{% extends 'base/base.html' %}
{% load static %}

{% block content %}
  <div class="animated fadeIn">
      <div class="card">
          <div class="card-header">
              <i class="fa fa-edit"></i> Student Tables
          </div>
          {% if student %}
          <div class="card-body">
              <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                  <div class="row">
                      <div class="col-sm-12 col-md-6">
                          <div class="dataTables_length" id="DataTables_Table_0_length">
                              <label>Show
                                  <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm">
                                      <option value="10">10</option>
                                      <option value="25">25</option>
                                      <option value="50">50</option>
                                      <option value="100">100</option>
                                  </select> entries</label>
                          </div>
                      </div>
                      <div class="col-sm-12 col-md-6">
                          <div id="DataTables_Table_0_filter" class="dataTables_filter">
                              <form action="" method="GET">
                                  {% csrf_token %}
                                <label>Search:
                                     <input type="search" class="form-control form-control-sm" placeholder="Find a student..." aria-controls="DataTables_Table_0" name="search" value="">
                                </label>
                                <button type="submit" class="btn btn-primary btn-sm">Search</button>
                              </form>
                          </div>
                      </div>
                  </div>
                  <form method="POST" action="">
                      {% csrf_token %}
                      <div class="row">
                          <div class="col-sm-12">
                              <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                                  <thead>
                                      <tr role="row">
                                          <th>Number</th>
                                          <th>Name</th>
                                          <th>Group</th>
                                          <th>Teacher</th>
                                          <th>Status</th>
                                          <th>Date</th>
                                          <th>Actions</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% for student in student %}
                                        <tr role="row" class="odd">
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ student.name }}</td>
                                            <td>
                                                <span id="group_{{ student.id }}">{{ student.group }}</span>
                                                <select id="select_group_{{ student.id }}" name="group_{{ student.id }}" class="form-control" style="display: none;">
                                                    {% for group in groups %}
                                                        <option value="{{ group.id }}" {% if student.group.id == group.id %}selected{% endif %}>{{ group.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <span id="teacher_{{ student.id }}">{{ student.teacher }}</span>
                                                <select id="select_teacher_{{ student.id }}" name="teacher_{{ student.id }}" class="form-control" style="display: none;">
                                                    {% for teacher in teachers %}
                                                        <option value="{{ teacher.id }}" {% if student.teacher.id == teacher.id %}selected{% endif %}>{{ teacher.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <span id="status_{{ student.id }}">{{ student.status_display }}</span>
                                                <select id="select_status_{{ student.id }}" name="status_{{ student.id }}" class="form-control" style="display: none;">
                                                    {% for status in status_choices %}
                                                        <option value="{{ status.0 }}" {% if student.status == status.0 %}selected{% endif %}>{{ status.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>{{ student.first_come_day }}</td>
                                            <td>
                                                <button type="button" class="btn btn-warning btn-sm" onclick="toggleEdit({{ student.id }})">Edit</button>
                                                <button type="submit" name="update_{{ student.id }}" class="btn btn-primary btn-sm" style="display: none;" id="submit_{{ student.id }}">Update</button>
                                            </td>
                                        </tr>
                                      {% endfor %}
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </form>
                  <div class="row">
                      <div class="col-sm-12 col-md-5">
                          <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 32 entries</div>
                      </div>
                      <div class="col-sm-12 col-md-7">
                          <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                              <ul class="pagination">
                                  <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                  <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                  <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                  <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                  <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                                  <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">Next</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          {% else %}
          <div class="card-body">
              <h3>No Student Found</h3>
          </div>
          {% endif %}
      </div>
  </div>

  <script>
    $(document).ready(function() {
    $('.group-details').on('click', function() {
        var groupId = $(this).data('group-id');
        var teacherName = $(this).data('teacher-name');
        var modal = $('#groupModal');
        var teacherNameElem = modal.find('#teacherName');
        var todayDateElem = modal.find('#todayDate');
        var studentList = modal.find('#studentList');
        var groupIdInput = modal.find('#groupId');
        var todayDateInput = modal.find('#todayDateInput');

        $.ajax({
            url: '/student/group-students/' + groupId + '/',
            method: 'GET',
            success: function(response) {
                studentList.empty(); // Clear existing list
                teacherNameElem.text('Teacher: ' + teacherName);

                // Format and set today's date as d.m.y
                var formattedDate = new Date().toLocaleDateString('en-GB'); // Formats date as dd/mm/yyyy
                todayDateElem.text('Today\'s date: ' + formattedDate);
                todayDateInput.val(formattedDate);

                if (response.students && Array.isArray(response.students)) {
                    response.students.forEach(function(student) {
                        studentList.append(
                            '<tr>' +
                            '<td>' + student.name + '</td>' +
                            '<td>' + student.first_lesson_day + '</td>' +
                            '<td>' +
                            '<select name="attendance_' + student.id + '" class="form-control">' +
                            '<option value="Absent">Absent</option>' +
                            '<option value="0">0</option>' +
                            '<option value="1">1</option>' +
                            '<option value="2">2</option>' +
                            '<option value="3">3</option>' +
                            '<option value="4">4</option>' +
                            '<option value="5">5</option>' +
                            '</select>' +
                            '</td>' +
                            '</tr>'
                        );
                    });
                } else {
                    studentList.append('<tr><td colspan="3">No students found</td></tr>');
                }

                groupIdInput.val(groupId);
                modal.modal('show'); // Show the modal
            },
            error: function(xhr, status, error) {
                console.error('Error fetching students:', status, error);
            }
        });
    });


    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
});

  </script>
{% endblock %}
