{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <h2>Search Student</h2>
        </div>
        <form method="GET" action=".">
            <!-- Name Filter -->
            <div class="form-row mx-2 mt-4"> <!-- Add horizontal margin to create space on the sides -->
                <div class="form-group col-md-8"> <!-- Reduced the column width to make Name field shorter -->
                    <div class="input-group">
                        <input class="form-control py-2 border-right-10 border" type="search" name="name_contains" placeholder="Name...">
                    </div>
                </div>
            </div>
            <!-- Status and Level Filters in two columns -->
            <div class="form-row mx-2"> <!-- Add horizontal margin to create space on the sides -->
                <div class="form-group col-md-4">
                    <label for="status_contains">Status</label>
                    <select name="status_contains" id="status_contains" class="form-control">
                        <option value="">Choose...</option>
                        {% for value, label in statuses %}
                        <option value="{{ value }}" {% if value == request.GET.status_contains %}selected{% endif %}>
                            {{ label }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="group_contains">Group</label>
                    <select name="group_contains" id="group_contains" class="form-control">
                        <option value="">Choose...</option>
                        {%for group in groups%}<option value={{group.id}}>{{ group.name }} | {{group.teacher.name}} | {{group.day}} | {{group.time}}</option>{% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-1">
            <label for="start_date">Start Date</label>
            <input type="date" name="start_date" id="start_date" class="form-control" value="{{ request.GET.start_date }}">
        </div>
        <div class="form-group col-md-1">
            <label for="end_date">End Date</label>
            <input type="date" name="end_date" id="end_date" class="form-control" value="{{ request.GET.end_date }}">
        </div>
    </div>

            <!-- Submit Button -->
            <div class="form-row mx-2"> <!-- Add horizontal margin to create space on the sides -->
                <div class="form-group col-md-8"> <!-- Align the button with previous fields -->
                    <button type="submit" class="btn btn-primary w-100">Search</button> <!-- w-100 ensures the button takes full width of the column -->
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Results Table -->
<div class="animated fadeIn mt-4">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-edit"></i> Student Tables
            <div class="card-header-actions">
                <a class="card-header-action" href="https://datatables.net" target="_blank">
                    <small class="text-muted">docs</small>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div id="responsive-container" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <div style="overflow-x: auto">
                        <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                            <thead>
                                <tr role="row">
                                    <th>№</th>
                                    <th>Name</th>
                                    <th>Group</th>
                                    <th>Teacher</th>
                                    <th>Comment</th>
                                    <th>Phone</th>
                                    <th>Balance</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in queryset %}
                                    <tr role="row" class="odd">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ student.name }}</td>
                                        <td>{{ student.group }}</td>
                                        <td>{{ student.teacher }}</td>
                                        <td>{{student.comment}}</td>
                                        <td>{{student.phone_no}}</td>
                                        <td>
                                            <span style="{% if student.balance < 0%}
                                                            color:red;
                                                           {% else %}
                                                            color:green
                                                            {% endif%}">
                                                {{student.balance}}
                                            </span>
                                        </td>
                                        <td>
                                            <span style="
                {% if student.status == 'Unpaid' %}
                    background-color: red;
                    color: black;
                {% elif student.status == 'Another Branch' %}
                    background-color: yellow;
                    color: black;
                {% elif student.status == 'Paid' %}
                    background-color: green;
                    color: black;
                {% elif student.status == 'First Lesson' %}
                    background-color: orange;
                    color: black;
                {% elif student.status == 'Deactive' %}
                    background-color: violet;
                    color: black;
                {% elif student.status == 'Comer' %}
                    background-color: pink;
                    color: white;
                {% elif student.status == 'Wrong Number' %}
                    background-color: white;
                    color: black;
                {% else %}
                    background-color: gray;
                    color: white;
                {% endif %}
                padding: 5px;">
                {{ student.status }}
            </span>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-warning edit-btn" data-toggle="modal" data-target="#editModal"
                                                    data-student-id="{{ student.id }}"
                                                    data-status="{{ student.status }}"
                                                    data-group="{{ student.group.id }}"
                                                    data-teacher="{{ student.teacher.id }}"
                                                    data-source="{{ student.source }}"
                                                    data-comment="{{ student.comment }}"
                                                    data-phone="{{ student.phone_no }}"
                                                    data-goal="{{ student.goal }}"
                                                    data-language="{{ student.language }}"
                                                    data-test="{{ student.test }}"
                                                    data-balance="{{ student.balance }}"
                                                    data-first_lesson_day="{{ student.first_lesson_day|date:'Y-m-d' }}"
                                                    data-name="{{ student.name }}"
                                            >
                                                Edit
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editStudentForm">
                    <input type="hidden" name="student_id" id="editStudentId">
                    <div class="form-group">
                        <label for="editName">Name</label>
                        <input type="text" name="name" id="editName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="editStatus">Status</label>
                        <select name="status" id="editStatus" class="form-control">
                            <option value="">Choose...</option>
                            {% for value, label in statuses %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editGroup">Group</label>
                        <select name="group" id="editGroup" class="form-control">
                            <option value="">Choose...</option>
                            {% for group in groups %}
                                <option value="{{ group.id }}">{{ group.name }} | {{group.teacher.name}} | {{group.day}} | {{group.time}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editComment">Comment</label>
                        <input type="text" name="comment" id="editComment" class="form-control">
                     </div>
                    <div class="form-group">
                        <label for="editPhone">Phone</label>
                        <input type="number" name="phone" id="editPhone" class="form-control" value="">
                     </div>
                    <div class="form-group">
                        <label for="editGoal">Goal</label>
                        <input type="text" name="goal" id="editGoal" class="form-control" value="">
                     </div>
                    <div class="form-group">
                        <label for="editLanguage">Language</label>
                        <select name="language" id="editLanguage" class="form-control">
                            <option value="">Choose...</option>
                            {% for value, label in languages %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                     </div>
                    <div class="form-group">
                        <label for="editTest">Test</label>
                        <input type="text" name="test" id="editTest" class="form-control" value="">
                     </div>


                    <div class="form-group">
                        <label for="editTeacher">Teacher</label>
                        <select name="teacher" id="editTeacher" class="form-control">
                            <option value="">Choose...</option>
                            {% for teacher in teachers %}
                                <option value="{{ teacher.id }}">{{ teacher.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editSource">Source</label>
                        <select name="source" id="editSource" class="form-control">
                            <option value="">Choose...</option>
                            {% for value, label in sources %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editBalance">Balance</label>
                        <input type="number" name="balance" id="editBalance" class="form-control" step="0.01">
                    </div>
                    <div class="form-group">
                        <label for="editFirstLessonDay">First Lesson Date</label>
                        <input type="date" name="first_lesson_day" id="editFirstLessonDay" class="form-control">
                    </div>
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChangesBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript to handle modal and AJAX request -->
<script>
$(document).ready(function() {
    $('#editModal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var studentId = button.data('student-id');
        var name = button.data('name')
        var status = button.data('status');
        var group = button.data('group');
        var teacher = button.data('teacher');
        var balance = button.data('balance'); // New data attributes
        var firstLessonDay = button.data('first_lesson_day');// New data attributes
        var source = button.data('source');
        var comment = button.data('comment');
        var phone = button.data('phone')
        var goal = button.data('goal')
        var language = button.data('language')
        var test = button.data('test')

        console.log("Modal Data - Student ID:", studentId);  // Debugging
        console.log("Modal Data - Status:", status);         // Debugging
        console.log("Modal Data - Group:", group);           // Debugging
        console.log("Modal Data - Teacher:", teacher);       // Debugging
        console.log('Modal Data - Source');

        var modal = $(this);
        modal.find('#editStudentId').val(studentId);
        modal.find('#editStatus').val(status);
        modal.find('#editGroup').val(group);
        modal.find('#editTeacher').val(teacher);
        modal.find('#editBalance').val(balance); // Set the balance value
        modal.find('#editFirstLessonDay').val(firstLessonDay);
        modal.find('#editSource').val(source);
        modal.find('#editName').val(name);
        modal.find('#editComment').val(comment);
        modal.find('#editPhone').val(phone);
        modal.find('#editGoal').val(goal);
        modal.find('#editLanguage').val(language);
        modal.find('#editTest').val(test);


    });
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');


    $('#saveChangesBtn').click(function() {
        var form = $('#editStudentForm');
        $.ajax({
            type: 'POST',
            url: '{% url "student-update" %}', // Ensure this URL is mapped to the student_update view in urls.py
            data: form.serialize(),
            success: function(response) {
                if (response.success) {
                    location.reload(); // Reload the page to reflect changes
                } else {
                    alert('Failed to update student.');
                }
            }
        });
    });
});
</script>

{% endblock %}
