{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="">
    <title>Polyglot</title>
    <!-- In your HTML file -->
    <link rel="shortcut icon" href="{% static 'src/img/polyglot.png' %}">

    <!-- Icons -->
    <link href="{% static 'dist/vendors/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/vendors/css/simple-line-icons.min.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ea83440684.js" crossorigin="anonymous"></script>
    <!-- Main styles for this application -->
    <link href="{% static 'dist/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'src/css/form.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% block extrahead %}
    {% endblock %}
</head>
