{% load static %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>

           <!-- Teacher Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="fa-solid fa-graduation-cap"></i>Teacher</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teacher-registration' %}">
                        <i class="fa-solid fa-user-plus"></i>Teacher Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teacher-list' %}">
                        <i class="fa fa-list"></i>Teacher List</a>
                </li>
            </ul>
          </li>
          <!-- Teacher Section END -->


            <!-- Group Section START -->
            <li class="nav-item nav-dropdown">
             <a class="nav-link nav-dropdown-toggle" href="#">
                 <i class="fa-solid fa-users"></i>Groups</a>
             <ul class="nav-dropdown-items">
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'group-registration' %}">
                         <i class="fa fa-plus-circle"></i>Group Registration</a>
                 </li>

                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'group-list' %}">
                         <i class="fa fa-list"></i>My Groups</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'report' %}">
                         <i class="fa-solid fa-chart-simple"></i>Attendance Report</a>
                 </li>

             </ul>
           </li>
           <!-- Group Section END -->

            <!-- Student Section START -->
            <li class="nav-item nav-dropdown">
             <a class="nav-link nav-dropdown-toggle" href="#">
                 <i class="fa-solid fa-user"></i>Student</a>
             <ul class="nav-dropdown-items">
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'student-registration' %}">
                         <i class="fa-solid fa-user-plus"></i>Student Registration</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'student-search' %}">
                         <i class="fa fa-list"></i>Student List</a>
                 </li>
             </ul>
           </li>
           <!-- Student Section END -->


           <!-- Employee Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Employee</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-plus-circle"></i>Add Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                    <a class="nav-link" href="#"></a>
                        <i class="fa fa-list"></i>Employee List
                </li>
            </ul>
          </li>
          <!-- Employee Section END -->

          <!-- Result Section START -->
          <li class="nav-item nav-dropdown">
           <a class="nav-link nav-dropdown-toggle" href="#">
               <i class="nav-icon icon-puzzle"></i>Result</a>
           <ul class="nav-dropdown-items">
               <li class="nav-item">
                   <a class="nav-link" href="#">
                       <i class="fa fa-plus-circle"></i>Add Subject</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="#">
                       <i class="fa fa-list"></i>Subject List</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="#">
                       <i class="fa fa-plus-circle"></i>Mark Entry</a>
               </li>
           </ul>
         </li>
         <!-- Result Section END -->


        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>

    {% block sidebar %}
    {% endblock %}
</div>
