{% load tenant_tags %}
{% has_teacher_profile as profile_exists %}
{% load static %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>
           <!-- Teacher Section START -->
                            {% if not profile_exists %}
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="fa-solid fa-graduation-cap"></i>Teacher</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teacher-registration' %}">
                        <i class="fa-solid fa-user-plus"></i>Teacher Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teacher-list' %}">
                        <i class="fa fa-list"></i>Teacher List</a>
                </li>
            </ul>
          </li>
            {% endif %}
          <!-- Teacher Section END -->


            <!-- Group Section START -->
            <li class="nav-item nav-dropdown">
             <a class="nav-link nav-dropdown-toggle" href="#">
                 <i class="fa-solid fa-users"></i>Groups</a>
             <ul class="nav-dropdown-items">
                 {% if not profile_exists %}
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'group-registration' %}">
                         <i class="fa fa-plus-circle"></i>Group Registration</a>
                 </li>
                 {% endif %}

                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'group-list' %}">
                         <i class="fa fa-list"></i>My Groups</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'report' %}">
                         <i class="fa-solid fa-chart-simple"></i>Attendance Report</a>
                 </li>

             </ul>
           </li>
           <!-- Group Section END -->

            <!-- Student Section START -->
            <li class="nav-item nav-dropdown">
             <a class="nav-link nav-dropdown-toggle" href="#">
                 <i class="fa-solid fa-user"></i>Student</a>
             <ul class="nav-dropdown-items">
                                 {% if not profile_exists %}
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'student-registration' %}">
                         <i class="fa-solid fa-user-plus"></i>Student Registration</a>
                 </li>
                 {% endif %}
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'student-search' %}">
                         <i class="fa fa-list"></i>Student List</a>
                 </li>
             </ul>
           </li>
           <!-- Student Section END -->


          <!-- Result Section START -->
                            {% if is_superadmin or not tenant_user.teacher_profile  %}
          <li class="nav-item nav-dropdown">
           <a class="nav-link nav-dropdown-toggle" href="#">
               <i class="fa-solid fa-coins"></i>Expenses</a>
           <ul class="nav-dropdown-items">
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'add_expense' %}" >
                       <i class="fa fa-plus-circle"></i>Add Expense</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'expense_list' %}">
                       <i class="fa fa-list"></i>Expenses List</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="#">
                       <i class="fa fa-plus-circle"></i>Mark Entry</a>
               </li>
           </ul>
         </li>
            {% endif %}
         <!-- Result Section END -->


        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>

    {% block sidebar %}
    {% endblock %}
</div>
