{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <div class="card">

    <div class="card-body">

      <div class="personal_information">
        <div class="row">
          <h2 class="mx-auto">Personal Information</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>Name                    : {{ teacher.name }}</pre>
            <pre>Phone No                : {{ teacher.phone_no }}</pre>
            <pre>Email                   : {{ teacher.email }}</pre>
          </div>
        </div>
      </div>


        </div>
  </div>
{% endblock %}
