.personal_info {
  display: none;
  border-radius: 25px; /* Adjust the radius as needed */
  border: none;/* Optional: customize the border color */
  padding: 10px; /* Optional: adjust the padding *
}
.address_info {
  display: none;
}
.guardian_info {
  display: none;
}
.emergency_contact_info {
  display: none;
}
.previous_academic_info {
  display: none;
}
.previous_academic_certificate {
  display: none;
}
.address_info {
  display: none;
}
#submit {
  display: none;
}
